@using hiravrt.Controllers

@inject MainController mc

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || []; w[l].push({
					'gtm.start':
						new Date().getTime(), event: 'gtm.js'
				}); var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
						'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-TTMS76RR');</script>
		<!-- End Google Tag Manager -->
		<meta charset="utf-16" />
		<meta charset="SHIFT_JIS">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="ahrefs-site-verification" content="0457bbfa5d8b45693e87714bdb1529efd6d298c966a928e78c81453f8b68a5c0">
		<meta name="keywords" content="hira, vrt, hiragana, hiragana drill, hiragana quiz, hiragana learning, japanese hiragana syllables, personalized quiz, open source, free hiragana learning tool, hiragana test, hiragana drill online, japanese hiragana drill, hiragana practice, hiragana kana, learning, hiravrt, free hiragana drill, free japanese hiragana learning"/>
		<meta name="description" content="A Japanese hiragana drill webapplication that allows the user to learn syllables using personal quiz settings." />

		<meta property="og:title" content="HIRA.VRT">
		<meta property="og:description" content="Japanese hiragana learning webapp">
		<meta property="og:image" content="https://hiravrt.com/img/logo_one.svg">
		<meta property="og:url" content="https://hiravrt.com.com">

	    <meta name="twitter:title" content="HIRA.VRT">
		<meta name="twitter:description" content="Japanese hiragana learning webapp">
		<meta name="twitter:url" content="https://hiravrt.com/img/logo_one.svg">
		<meta name="twitter:creator" content="@@pipiklover"/>
		<meta name="twitter:card" content="summary" />

		<title>HIRA.VRT</title>

		<link rel="canonical" href="https://www.hiravrt.com" />
		<link rel="stylesheet" href="css/Defaults.css" />
		<link rel="stylesheet" href="css/Page.css" />
		<link rel="icon" sizes="32x32" type="image/x-icon" href="favicon.ico"/>
	</head>

	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TTMS76RR"
					height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<Routes />

		<footer>
			<nav id="footer-navigation">
				<a class="footer-navigation-link" href="@mc.HomeC.Github()" target="_blank" title="LINK TO GITHUB PROJECT">GITHUB</a>

				<small class="footer-navigation-divider">|</small>

				<a class="footer-navigation-link" href="@mc.HomeC.Donation()" target="_blank" title="LINK TO DONATIONS PAGE">PAYPAL</a>
			</nav>
		</footer>

		<script src="/js/Keyboard.js" asp-append-version="true"></script>
	</body>
</html>