@using hiravrt.Controllers

@inject MainController mc

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-16" />
		<meta charset="SHIFT_JIS">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="ahrefs-site-verification" content="0457bbfa5d8b45693e87714bdb1529efd6d298c966a928e78c81453f8b68a5c0">
		<meta name="keywords" content="hiragana, hiragana drill, hiragana quiz, hiragana learning, japanese hiragana syllables, personalized quiz, "/>
		<meta name="description" content="A Japanese hiragana drill webapplication that allows the user to learn syllables using personal quiz settings." />
		<title>HIRA.VRT</title>
		<link rel="stylesheet" href="css/Defaults.css" />
		<link rel="stylesheet" href="css/Page.css" />
	</head>

	<body>
		<Routes />

		<footer>
			<nav id="footer-navigation">
				<a class="footer-navigation-link" href="@mc.HomeC.Github()" target="_blank" title="LINK TO GITHUB PROJECT">GITHUB</a>

				<small class="footer-navigation-divider">|</small>

				<a class="footer-navigation-link" href="@mc.HomeC.Donation()" target="_blank" title="LINK TO DONATIONS PAGE">PAYPAL</a>
			</nav>
		</footer>

		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		<script src="/js/Keyboard.js" asp-append-version="true"></script>
	</body>
</html>