@page "/Error"
@using System.Diagnostics
@using hiravrt.Controllers

@inject MainController mc

<PageTitle>Error</PageTitle>

@code {
	[Parameter]
	public int ErrorNumber { get; set; }
	[Parameter]
	public string ErrorDescription { get; set; } = "";
	[Parameter]
	public string ErrorFix { get; set; } = "";
}

<article id="error-sub-article">
	<hgroup id="error-header-group">
        <h2 id="error-header-title">[ERROR @ErrorNumber] @ErrorDescription</h2>
        <h3 id="error-header-subtitle">@ErrorFix</h3>
	</hgroup>
</article>
