@using hiravrt.Controllers

@page "/"

<PageTitle>Home</PageTitle>
@rendermode InteractiveServer

@inject MainController mc

<link rel="stylesheet" href="css/Home.css" />

<article id="gamemode-main-article">
	<hgroup>
        <h2 class="SUBTITLE">PICK A GAMEMODE</h2>
    </hgroup>

	<section class="gamemode-section" id="either-or-section">
		<a href="@mc.GameC.EitherOr()" title="Either Or Gamemode">
			<img class="pick-gamemode" src="img/game/either-or-mode.svg" alt="HIRA.VRT gamemode with either or choice" />
		</a>
	</section>

	<section class="gamemode-section" id="first-coming-soon-section">
		<a  href="@mc.GameC.Keyboard()" title="Keyboard Gamemode">
			<img class="pick-gamemode" src="img/game/keyboard-mode.svg" alt="HIRA.VRT gamemode with keyboard" />
		</a>
	</section>

	<section class="gamemode-section" id="second-coming-soon-section">
		<a title="New Gamemode Comming Soon">
			<img class="pick-gamemode" src="img/game/coming-soon.svg" alt="HIRA.VRT gamemode coming soon" />
		</a>
	</section>
</article>

<article id="about-main-article">
	<hgroup id="about-section-title">
        <h2 id="about-section-title-text">ABOUT HIRA.VRT</h2>
    </hgroup>

    <section id="about-text-section">
		<p id="about-section-text-short">
			HIRA.VRT began as a university bachelor thesis with the aim of creating an interactive web applications for learning Japanese hiragana syllabary. The main idea behind its creation was to make learning hiragana characters easier and accessible to a broader spectrum of users. The application itself was designed using Microsoft's Blazor framework in order to improve the user experience. It is designed for people who want to learn the characters through a quiz game, where the user must correctly guess from a set of randomly picked hiragana syllables. This form of learning aims to enhance the learning experience through replayability and the human desire for improvement.
		</p>
		<a href="@mc.HomeC.About()" id="more-about-button">READ MORE</a>
	</section>

	<section id="about-logo-section">
		<img id="about-section-logo" src="img/logo_two.svg" alt="HIRA.VRT secondary logo">
	</section>
</article>
