a.navigation-bar-link:nth-child(3) {
	background-color: #D9D9D9;
	color: #1B1B1B;
}

section[id^="about-"][id$="-section"] {
	grid-column: span 5;
}

ul#external-media-list {
	all: unset;
	display: flex;
	gap: 0.5em;
	grid-column-start: 1;
	grid-column-end: -1;
	margin-top: 1em;
}

li.external-media-list-item {
	all: unset;
	cursor: pointer;
	width: auto;
	justify-self: center;
	border-radius: 0.25em;
	border: 0.188em solid #1B1B1B;
}

a.external-media-button {
	all: unset;
	display: block;
	padding: 1em;
	height: 1.5em;
	width: 1.5em;
}

li.external-media-list-item:hover {
	border-color: #D9D9D9;
	filter: invert(94%) sepia(0%) saturate(47%) hue-rotate(215deg) brightness(93%) contrast(95%);
	background-color: #D9D9D9;
}

li.external-media-list-item:active {
	transform: scale(0.95);
}

img.external-media-button-icon {
	height: inherit;
	width: inherit;
}

@media screen and (max-width: 950px) {
	section[id^="about-"][id$="-section"] {
		grid-column: span 3;
	}
}

@media screen and (max-width: 650px) {
	ul#external-media-list {
		justify-content: center;
	}

	section[id^="about-"][id$="-section"] {
		text-align: center;
	}
}