a.navigation-bar-link:nth-child(4) {
	background-color: #D9D9D9;
	color: #1B1B1B;
}

section#first {
	grid-column: 1;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
section#second {
	grid-column: 3;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
section#third {
	grid-column: 5;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

span.contact-info {
	display: flex;
	flex-direction: row;
}
span.contact-info-icon {
	user-select: none;
	display: grid;
	align-content: center;
	background-color: #1B1B1B;
	padding-left: 1em;
	padding-right: 1em;
}
small.contact-info-data {
	color: #1B1B1B;
	overflow: unset;
	grid-column: 2;
	outline: 0.188em solid #1B1B1B;
	outline-offset: -0.188em;
	font-size: small;
	width: -webkit-fill-available;
	padding: 1.577em;
}

form.contact-form {
	display: flex;
	flex-direction: column;
	height: 100%;
	row-gap: 0.5em;
}
textarea.contact-form-message {
	all: unset;
	height: -webkit-fill-available;
	padding: 1em;
	border: 0.15em solid #1B1B1B;
}
input.contact-form-data {
	all: unset;
	border-style: solid;
	border-color: #1B1B1B;
	border-width: 0.15em;
	height: 1em;
	padding: 1em;
}
a.contact-form-button {
	display: grid;
	min-height: 3.5em;
	width: 10em;
	cursor: pointer;
	background-color: #1B1B1B;
	text-align: center;
	color: #D9D9D9;
	font-size: 0.75em;
	border-radius: 0.75em;
	align-content: center;
	user-select: none;
}
a.contact-form-button:active {
	transform: scale(0.95);
	background-color: #353535;
}
a.contact-form-button:hover {
	background-color: #353535;
}

iframe#contact-location-map {
	width: 100%;
	height: 100%;
	margin: 0;
	outline: 0.15em solid #1B1B1B;
	outline-offset: -0.15em;
}

@media (max-width: 950px) {
	section#second {
		margin-top: 4em;
		grid-column: span 3;
		grid-row: 4;
		height: 24em;
	}

	section#third {
		grid-column: 3;
	}
}