@font-face {
	font-family: 'Roboto-Regular';
	src: url(../font/roboto/Roboto-Regular.ttf);
}

* {
	font-family: 'Roboto-Regular';
}

a {
	-webkit-tap-highlight-color: transparent;
}

hgroup {
	display: flex;
	flex-direction: column;
	grid-column-start: 1;
	grid-column-end: -1;
	margin-bottom: 1em;
	margin-top: 1em;
}

h1, h2, h3, h4, p {
	all: unset;
	color: #D9D9D9;
	grid-column-start: 1;
	grid-column-end: -1;
}
h1 {
	font-size: 2.5em;
	font-weight: bold;
	cursor: pointer;
}
h2 {
	font-weight: bold;
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
	font-weight: 400;
}
h4 {
	font-size: 1em;
	font-weight: 300;
}
p {
	text-align: left;
	text-overflow: ellipsis;
	font-size: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-wrap: wrap;
}

html {
	min-height: 100%;
	display: grid;
}

main {
	height: -webkit-fill-available;
}

body {
	margin: 0;
	padding: 0;
	background-color: #D9D9D9;
	justify-content: space-between;

	display: flex;
	flex-direction: column;
	min-height: inherit;
}

footer {
	display: flex;
	flex-direction: column;
	background-color: #1B1B1B;
	justify-content: space-evenly;

	padding-top: 1em;
	padding-bottom: 1em;
}

article {
	display: grid;
	grid-template-columns: 15em 3.5em 15em 3.5em 15em;
	padding-top: 3.5em;
	padding-bottom: 3.5em;
	justify-content: center;
}
article:nth-of-type(even) {
	background-color: #2b2b2b;
}
article:nth-of-type(odd) h2, article:nth-of-type(odd) h3,
article:nth-of-type(odd) h4, article:nth-of-type(odd) p {
	color: #2b2b2b;
}

form {
	display: flex;
	flex-direction: column;
	height: 100%;
	row-gap: 0.5em;
}

@media screen and (max-width: 950px) {
	article {
		grid-template-columns: 15em 3.5em 15em;
	}
}

@media screen and (max-width: 650px) {
	article {
		grid-template-columns: 1fr;
		padding: 1em 1em 2em 1em;
	}

	h1, h2, h3, h4, p {
		text-align: center;
	}
}