/* MAIN PAGE*/
a#main-page-logo-link {
	grid-row: span 2;
	align-self: center;
	justify-self: center;
	cursor: pointer;
}
a#main-page-head-title-link {
	all: unset;
	align-self: end;
}
header#main-page-header {
	display: grid;
	background-color: #2b2b2b;
	justify-content: center;
	grid-template-columns: repeat(3, 15em);
	grid-template-rows: 1fr 1fr;
	column-gap: 3.5em;
	padding-top: 3.5em;
	padding-bottom: 3.5em;
	background-image: url(../img/header-background.svg);
}
nav#main-page-navigation {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column: span 2;
	margin: 0;
}

/* SUB PAGE */
a#sub-page-logo-link {
	display: flex;
	grid-row: span 3;
	align-self: center;
	justify-self: center;
	justify-content: center;
	cursor: pointer;
	width: 50%;
	outline: none;
}
a#sub-page-head-title-link {
	all: unset;
	align-self: end;
	grid-row: 2;
	grid-column: 2;
}
header#sub-page-header {
	display: grid;
	background-color: #2b2b2b;
	justify-content: center;
	grid-template-columns: repeat(3, 15em);
	grid-template-rows: repeat(3, 1fr);
	column-gap: 3.5em;
	background-image: url(../img/header-background.svg);
}
nav#sub-page-navigation {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column: 2 / 4;
	grid-row: 3;
	align-self: self-end;
	margin: 0;
}

/* SHARED */
img#page-logo {
	width: 100%;
	height: auto;
}

a.navigation-bar-link {
	all: unset;
	display: grid;
	align-content: center;
	height: 2.5em;
	cursor: pointer;
	background-color: #863030;
	text-align: center;
	color: #D9D9D9;
}
a.navigation-bar-link:hover {
	text-decoration: underline;
}
a.navigation-bar-link:first-child {
	background-color: #1B1B1B;
}

nav#footer-navigation {
	display: flex;
	grid-column: 2 / 5;
	gap: 2em;
	justify-content: center;
	color: #D9D9D9;
	font-size: small;
	grid-template-columns: repeat(3, 1fr);
}
a.footer-navigation-link, small.footer-navigation-dividers {
	all: unset;
	color: #D9D9D9;
}
a.footer-navigation-link {
	cursor: pointer;
}
a.footer-navigation-link:hover {
	text-decoration: underline;
}
small.footer-navigation-divider {
	cursor: default;
	user-select: none;
}

article.article-page {
	all: unset;
	display: grid;
	grid-template-columns: 15em 3.5em 15em 3.5em 15em;
	justify-content: center;
	padding-top: 3.5em;
	padding-bottom: 3.5em;
	justify-content: center;
}
article.article-page:nth-of-type(even) {
	background-color: #2b2b2b;
}
article.article-page:nth-of-type(odd) h2,
article.article-page:nth-of-type(odd) h3,
article.article-page:nth-of-type(odd) h4,
article.article-page:nth-of-type(odd) p {
	color: #2b2b2b;
}

@media (max-width: 950px) {
	header#main-page-header, header#sub-page-header {
		display: grid;
		background-color: #2b2b2b;
		justify-content: center;
		grid-template-columns: repeat(2, 15em);
		column-gap: 3.5em;
		row-gap: 1em;
		padding-top: 2.5em;
		padding-bottom: 0em;
		background-image: url(../img/header-background.svg);
		grid-template-rows: unset;
		height: fit-content;
	}

	a#main-page-head-title-link, a#sub-page-head-title-link {
		display: flex;
		justify-content: center;
		grid-column: span 2;
		grid-row: 2;
	}
	
	nav#main-page-navigation, nav#sub-page-navigation {
		grid-column: span 2;
		grid-row: 3;
	}

	a#main-page-logo-link, a#sub-page-logo-link {
		grid-column: span 2;
		grid-row: unset;
		align-self: center;
		justify-self: center;
		cursor: pointer;
	}

	article.article-page {
		all: unset;
		display: grid;
		grid-template-columns: 15em 3.5em 15em;
		justify-content: center;
		padding-top: 3.5em;
		padding-bottom: 3.5em;
		justify-content: center;
	}

	img#page-logo {
		width: 50%;
	}

	a.navigation-bar-link {
		height: 3em;
	}
}