@using hiravrt.Controllers

@page "/about"
@inject MainController mc

<PageTitle>About</PageTitle>

<link rel="stylesheet" href="css/nav/About.css" />

<article class="article-page" id="about-sub-article">
	<hgroup id="about-header-group">
		<h2 id="about-header-title">ABOUT HIRA.VRT</h2>
		<h3 id="about-header-subtitle">THE STORY</h3>
	</hgroup>

	<section id="about-story-section">
		<p id="about-story">
            HIRA.VRT began as a university <b>bachelor thesis project</b> with the aim of creating an interactive <b>web applications</b> for learning <b>Japanese hiragana syllabary</b>. The main idea behind its creation was to make learning hiragana characters easier and accessible to a broader spectrum of users. The application itself was designed using Microsoft's <b>Blazor framework</b> in order to improve the user experience. It is designed for people who want to learn the characters through a <b>quiz game</b>, where the user must correctly guess from a set of <b>randomly picked hiragana syllables</b>. This form of learning aims to enhance the <b>learning experience</b> through replayability and the human desire for improvement.
		</p>
	</section>

	<hgroup id="about-header-group-gamemode">
		<h3 id="about-header-subtitle-gamemode">GAMEMODES</h3>
		<h4 id="about-header-subsubtitle-either-or">EITHER OR</h4>
	</hgroup>

	<section id="about-either-or-section">
		<p id="about-either-or">
            This game mode gives the user the option to choose the correct hiragana syllable from <b>two choices</b>. The user is supposed to guess the correct syllable based on the <b>Latin version</b> of the correct answer. The right choice is indicated by the color of the Latin version, with <b>green representing "right"</b> and <b>red representing "wrong"</b> pick, along with the correct Japanese character changing color.
		</p>
	</section>

	<hgroup id="about-header-group-gamemode">
		<h3 id="about-header-subtitle-social-media">SOCIAL MEDIA</h3>
		<h4 id="about-header-subsubtitle-links">LINKS</h4>
	</hgroup>

	<ul id="external-media-list">
		<li class="external-media-list-item">
            <a class="external-media-button" href="@mc.HomeC.GithubAccount()" title="LINK TO MY GITHUB PROFILE" target="_blank">
                <img src="img/icons/github.svg" alt="GitHub profile page" class="external-media-button-icon">
            </a>
		</li>

		<li class="external-media-list-item">
            <a class="external-media-button" href="@mc.HomeC.TwitterAccount()" title="LINK TO MY TWITTER/X PROFILE" target="_blank">
                <img src="img/icons/twitter-x.svg" alt="Twitter/X profile page" class="external-media-button-icon">
            </a>
		</li>

		<li class="external-media-list-item">
			<a class="external-media-button" href="@mc.HomeC.LinkedinAccount()" title="LINK TO MY LINKEDIN PROFILE" target="_blank">
				<img src="img/icons/linkedin.svg" alt="LinkedIn profile page" class="external-media-button-icon">
			</a>
		</li>

		<li class="external-media-list-item">
			<a class="external-media-button" href="@mc.HomeC.YouTubeAccount()" title="LINK TO MY YOUTUBE CHANNEL" target="_blank">
				<img src="img/icons/youtube.svg" alt="YouTube channel page" class="external-media-button-icon">
			</a>
		</li>
	</ul>
</article>
