@page "/contact"

@using hiravrt.Models.Nav
@using System.ComponentModel.DataAnnotations;
@using System.Net;
@using System.Net.Mail;

@rendermode InteractiveServer

<PageTitle>Contact</PageTitle>

<link rel="stylesheet" href="css/nav/Contact.css" />


<article class="article-page" id="contact-sub-article">
	<hgroup id="contact-header-group">
		<h2 id="contact-header-title">CONTACT</h2>
	</hgroup>

	<section id="contact-info-section">
		<h3 id="contact-info-subtitle">INFORMATION</h3>

		<ul id="contact-info-list">
			<li class="contact-info-list-item" id="contact-info-address-list-item">
				<span class="contact-info-icon" id="contact-info-address-icon">
					<img src="img/icons/address-contact.svg" alt="house (address) icon" id="contact-info-address-icon-image">
				</span>

				<small class="contact-info-data" id="contact-info-address">Technical University of Košice <br> Letná 1/9 <br> 040 01 Košice <br> Slovakia</small>
			</li>

			<li class="contact-info-list-item" id="contact-info-phone-list-item">
				<span class="contact-info-icon" id="contact-info-phone-icon">
					<img src="img/icons/phone-contact.svg" alt="phone number icon" id="contact-info-phone-icon-image">
				</span>

				<small class="contact-info-data" id="contact-info-phone">055/643 61 51</small>
			</li>

			<li class="contact-info-list-item" id="contact-info-email-list-item">
				<span class="contact-info-icon" id="contact-info-email-icon">
					<img src="img/icons/email-contact.svg" alt="email contact icon" id="contact-info-email-icon-image">
				</span>

				<small class="contact-info-data" id="contact-info-email">hiravrt@hiravrt.sk</small>
			</li>

			<li class="contact-info-list-item" id="contact-info-website-list-item">
				<span class="contact-info-icon" id="contact-info-website-icon">
					<img src="img/icons/website-contact.svg" alt="website icon" id="contact-info-website-icon-image">
				</span>

				<small class="contact-info-data" id="contact-info-website">www.hiravrt.sk</small>
			</li>
		</ul>
	</section>

	<section id="contact-location-section">
		<h3 id="contact-location-subtitle">LOCATION</h3>

		<iframe id="contact-location-map" frameborder="0" scrolling="no" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Letn%C3%A1%201/9,%20040%2001%20Ko%C5%A1ice,%20Slovakia+(TUKE)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
		</iframe>
	</section>

	<section id="contact-form-section">
		<h3 id="contact-form-subtitle">FORM</h3>

		<EditForm id="contact-form" Model="@formModel" FormName="Email" OnValidSubmit="() => formModel.SendEmail()">
			<InputText class="contact-form-data" placeholder="FULL NAME" id="contact-form-name" @bind-Value="formModel.Name"></InputText>

			<InputText name="iemail" class="contact-form-data" placeholder="EMAIL" id="contact-form-email" @bind-Value="formModel.Email"></InputText>

			<InputTextArea name="imessage" id="contact-form-message" placeholder="MESSAGE *" @bind-Value="formModel.Message"></InputTextArea>

			<button type="submit" id="contact-form-button">SEND</button>
		</EditForm>

		@code {
			FormModel formModel = new FormModel();
		}
	</section>
</article>


