@page "/contact"

<PageTitle>Contact</PageTitle>

<link rel="stylesheet" href="css/pages/Contact.css" />


<article class="PAGE">
	<hgroup>
		<h2>CONTACT</h2>
	</hgroup>

	<section id="first">
		<h3>INFORMATION</h3>

		<span class="contact-info">
			<span class="contact-info-icon">
				<img src="img/icons/address-contact.svg" alt="email input icon">
			</span>
			
			<small class="contact-info-data">HIRA.VRT <br> Letná 1/9 <br> 040 01 Košice <br> Slovakia</small>
		</span>

		<span class="contact-info">
			<span class="contact-info-icon">
				<img src="img/icons/phone-contact.svg" alt="email input icon">
			</span>
			
			<small class="contact-info-data">055/643 61 51</small>
		</span>

		<span class="contact-info">
			<span class="contact-info-icon">
				<img src="img/icons/email-contact.svg" alt="email input icon">
			</span>

			<small class="contact-info-data">hiravrt@hiravrt.sk</small>
		</span>

		<span class="contact-info">
			<span class="contact-info-icon">
				<img src="img/icons/website-contact.svg" alt="email input icon">
			</span>
			
			<small class="contact-info-data">www.hiravrt.sk</small>
		</span>
	</section>

	<section id="second">
		<h3>LOCATION</h3>
		<iframe id="contact-location-map" frameborder="0" scrolling="no" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Letn%C3%A1%201/9,%20040%2001%20Ko%C5%A1ice,%20Slovakia+(TUKE)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
			<a href="https://www.gps.ie/">gps tracker sport</a>
		</iframe>
	</section>

	<section id="third">
		<h3>FORM</h3>

		<form action="" method="post" class="contact-form">
			<input type="text" name="iname" class="contact-form-data" placeholder="FULL NAME">

			<input type="email" name="iemail" class="contact-form-data" placeholder="EMAIL">

			<textarea name="imessage" class="contact-form-message" placeholder="MESSAGE"></textarea>

            <a class="contact-form-button">SEND</a>
		</form>

		
	</section>
</article>


