@page "/Error"
@using System.Diagnostics
@using hiravrt.Controllers

@inject MainController mc

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@code {
	[Parameter]
	public int ErrorNumber { get; set; }
	[Parameter]
	public string ErrorDescription { get; set; } = "";
	[Parameter]
	public string ErrorFix { get; set; } = "";
}

<article class="PAGE">
	<h2>[ERROR @ErrorNumber] @ErrorDescription</h2>
	<h3>@ErrorFix</h3>
</article>
