@page "/settings"

@using hiravrt.Controllers
@using hiravrt.Models.Game

@rendermode InteractiveServer
@inject MainController mc

<PageTitle>Settings</PageTitle>

@{
	string getToggle(int row, int col) {
		int result = mc.SettingsC.HiraganaToggle[row, col];
		if (result > 0) {
			return "on";
		}

		return "off";
	}
}

<link rel="stylesheet" href="css/pages/Settings.css" />
<article class="PAGE">
	<h2 id="title">HIRAGANA GRID @mc.SettingsC.Guesses.Count</h2>
	<section id="first">
		<table id="toggle">
			<tbody>
				<tr class="hirarow">
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-column" @onclick="() => mc.SettingsC.ToggleColumnAt(1)">A</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-column" @onclick="() => mc.SettingsC.ToggleColumnAt(2)">I</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-column" @onclick="() => mc.SettingsC.ToggleColumnAt(3)">U</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-column" @onclick="() => mc.SettingsC.ToggleColumnAt(4)">E</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-column" @onclick="() => mc.SettingsC.ToggleColumnAt(5)">O</a>
					</td>
				</tr>
				<tr class="hirarow">
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(0, 1)" @onclick="() => mc.SettingsC.ToggleAt(0, 1)">&#x3042;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(0, 2)" @onclick="() => mc.SettingsC.ToggleAt(0, 2)">&#x3044;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(0, 3)" @onclick="() => mc.SettingsC.ToggleAt(0, 3)">&#x3046;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(0, 4)" @onclick="() => mc.SettingsC.ToggleAt(0, 4)">&#x3048;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(0, 5)" @onclick="() => mc.SettingsC.ToggleAt(0, 5)">&#x304a;</a>
					</td>
				</tr>
				<tr class="hirarow">
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-row" @onclick="() => mc.SettingsC.ToggleRowAt(1)">K</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(1, 1)" @onclick="() => mc.SettingsC.ToggleAt(1, 1)">&#x304b;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(1, 2)" @onclick="() => mc.SettingsC.ToggleAt(1, 2)">&#x304d;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(1, 3)" @onclick="() => mc.SettingsC.ToggleAt(1, 3)">&#x304f;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(1, 4)" @onclick="() => mc.SettingsC.ToggleAt(1, 4)">&#x3051;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(1, 5)" @onclick="() => mc.SettingsC.ToggleAt(1, 5)">&#x3053;</a>
					</td>
				</tr>
				<tr class="hirarow">
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-row" @onclick="() => mc.SettingsC.ToggleRowAt(2)">S</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(2, 1)" @onclick="() => mc.SettingsC.ToggleAt(2, 1)">&#x3055;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(2, 2)" @onclick="() => mc.SettingsC.ToggleAt(2, 2)">&#x3057;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(2, 3)" @onclick="() => mc.SettingsC.ToggleAt(2, 3)">&#x3059;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(2, 4)" @onclick="() => mc.SettingsC.ToggleAt(2, 4)">&#x305b;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(2, 5)" @onclick="() => mc.SettingsC.ToggleAt(2, 5)">&#x305d;</a>
					</td>
				</tr>
				<tr class="hirarow">
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-row" @onclick="() => mc.SettingsC.ToggleRowAt(3)">T</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(3, 1)" @onclick="() => mc.SettingsC.ToggleAt(3, 1)">&#x305f;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(3, 2)" @onclick="() => mc.SettingsC.ToggleAt(3, 2)">&#x3061;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(3, 3)" @onclick="() => mc.SettingsC.ToggleAt(3, 3)">&#x3064;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(3, 4)" @onclick="() => mc.SettingsC.ToggleAt(3, 4)">&#x3066;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(3, 5)" @onclick="() => mc.SettingsC.ToggleAt(3, 5)">&#x3068;</a>
					</td>
				</tr>
				<tr class="hirarow">
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-row" @onclick="() => mc.SettingsC.ToggleRowAt(4)">N</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(4, 1)" @onclick="() => mc.SettingsC.ToggleAt(4, 1)">&#x306a;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(4, 2)" @onclick="() => mc.SettingsC.ToggleAt(4, 2)">&#x306b;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(4, 3)" @onclick="() => mc.SettingsC.ToggleAt(4, 3)">&#x306c;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(4, 4)" @onclick="() => mc.SettingsC.ToggleAt(4, 4)">&#x306d;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(4, 5)" @onclick="() => mc.SettingsC.ToggleAt(4, 5)">&#x306e;</a>
					</td>
				</tr>
				<tr class="hirarow">
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-row" @onclick="() => mc.SettingsC.ToggleRowAt(5)">H</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(5, 1)" @onclick="() => mc.SettingsC.ToggleAt(5, 1)">&#x306f;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(5, 2)" @onclick="() => mc.SettingsC.ToggleAt(5, 2)">&#x3072;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(5, 3)" @onclick="() => mc.SettingsC.ToggleAt(5, 3)">&#x3075;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(5, 4)" @onclick="() => mc.SettingsC.ToggleAt(5, 4)">&#x3078;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(5, 5)" @onclick="() => mc.SettingsC.ToggleAt(5, 5)">&#x307b;</a>
					</td>
				</tr>
				<tr class="hirarow">
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-row" @onclick="() => mc.SettingsC.ToggleRowAt(6)">M</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(6, 1)" @onclick="() => mc.SettingsC.ToggleAt(6, 1)">&#x307e;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(6, 2)" @onclick="() => mc.SettingsC.ToggleAt(6, 2)">&#x307f;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(6, 3)" @onclick="() => mc.SettingsC.ToggleAt(6, 3)">&#x3080;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(6, 4)" @onclick="() => mc.SettingsC.ToggleAt(6, 4)">&#x3081;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(6, 5)" @onclick="() => mc.SettingsC.ToggleAt(6, 5)">&#x3082;</a>
					</td>
				</tr>
				<tr class="hirarow">
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-row" @onclick="() => mc.SettingsC.ToggleRowAt(7)">Y</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(7, 1)" @onclick="() => mc.SettingsC.ToggleAt(7, 1)">&#x3084;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(7, 3)" @onclick="() => mc.SettingsC.ToggleAt(7, 3)">&#x3086;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(7, 5)" @onclick="() => mc.SettingsC.ToggleAt(7, 5)">&#x3088;</a>
					</td>
				</tr>
				<tr class="hirarow">
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-row" @onclick="() => mc.SettingsC.ToggleRowAt(8)">R</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(8, 1)" @onclick="() => mc.SettingsC.ToggleAt(8, 1)">&#x3089;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(8, 2)" @onclick="() => mc.SettingsC.ToggleAt(8, 2)">&#x308a;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(8, 3)" @onclick="() => mc.SettingsC.ToggleAt(8, 3)">&#x308b;</a>
					</td>
					<td class="hiradata">
                        <a class="toggle-button-@getToggle(8, 4)" @onclick="() => mc.SettingsC.ToggleAt(8, 4)">&#x308c;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(8, 5)" @onclick="() => mc.SettingsC.ToggleAt(8, 5)">&#x308d;</a>
					</td>
				</tr>
				<tr class="hirarow">
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-row" @onclick="() => mc.SettingsC.ToggleRowAt(9)">W</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(9, 1)" @onclick="() => mc.SettingsC.ToggleAt(9, 1)">&#x308f;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-@getToggle(9, 5)" @onclick="() => mc.SettingsC.ToggleAt(9, 5)">&#x3092;</a>
					</td>
				</tr>
				<tr class="hirarow">
					<td class="hiradata">
						<a class="toggle-button-@getToggle(10, 0)" @onclick="() => mc.SettingsC.ToggleAt(10, 0)">&#x3093;</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-row" @onclick="() => mc.SettingsC.ToggleRowAt(10)">N</a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
					<td class="hiradata">
						<a class="toggle-button-empty"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</article>