section#first {
	grid-column: span 5;
	display: grid;
	grid-template-columns: 1fr 1em 1fr;

	justify-items: center;
}

p[id^="romanji"] {
	display: grid;
	position: absolute;
	justify-self: center;
	justify-content: center;
	align-self: center;
	align-content: center;
	border-radius: 5em;
	border: 0.1em solid #D9d9d9;
	width: 3em;
	height: 3em;
	font-size: 2em;
	user-select: none;
}
p#romanji {
	color: #1B1B1B;
	background: #D9D9D9;
}
p#romanji-correct {
	color: #D9D9D9;
	background: #308658;
}
p#romanji-wrong {
	color: #D9D9D9;
	background: #863030;
}

a[id$="pick"] {
	all: unset;
	display: grid;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 420px;
	cursor: pointer;
}
a#firstpick {
	border-radius: 32px 0em 0em 32px;
	grid-column: 1;
}
a#secondpick {
	border-radius: 0em 32px 32px 0em;
	grid-column-end: -1;
}
a[id$="pick"]:hover {
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}
a#firstpick:hover {
	animation-name: slide-left;
}
a#secondpick:hover {
	animation-name: slide-right;
}

@keyframes slide-left {
	to {
		transform: translate(-0.5em);
	}
}
@keyframes slide-right {
	to {
		transform: translate(0.5em);
	}
}
p#firstguess, p#secondguess {
	text-align: center;
	font-size: 9em;
	cursor: pointer;
	user-select: none;
	color: #D9D9D9;
	text-shadow: 0 0 4px #1b1b1b;
}

div#gamemode-statistics {
	display: grid;
	grid-template-columns: 1fr 4em 1fr;
	grid-column-start: 1;
	grid-column-end: -1;
	align-items: center;

	margin-bottom: 1em;
}

button#reset-button {
	grid-column: 2;
	all: unset;
	display: flex;
	justify-content: center;
	width: 2.5em;
	height: 2.5em;
	justify-self: center;
	border-radius: 0.5em;
	border: 0.188em solid #1B1B1B;
}
button#reset-button:hover {
	border-color: #D9D9D9;
	filter: invert(94%) sepia(0%) saturate(47%) hue-rotate(215deg) brightness(93%) contrast(95%);
	background-color: #D9D9D9;
}
button#reset-button:active {
	transform: scale(0.95);
}
img#reset-icon {
	width: 1.5em;
	height: auto;
}
span[id^="gamemode-statistics"][id$="progress"] {
	display: grid;
	height: 1.5em;
	background: rgba(00, 00, 00, 0.1);
}
span#gamemode-statistics-wrong-progress {
	grid-column: 1;
}
span#gamemode-statistics-correct-progress {
	grid-column: 3;
}
span[id^="gamemode-statistics"][id$="guesses-bar"], span[id^="gamemode-statistics"][id$="animate-bar"] {
	height: 100%;
}
span[id^="gamemode-statistics-wrong"][id$="bar"] {
	justify-self: end;
	background: #863030;
}
span[id^="gamemode-statistics-correct"][id$="bar"] {
	justify-self: start;
	background: #308658;
}

@media screen and (max-width: 950px) {
	section#first {
		grid-column: span 3;
	}

	p[id$="guess"] {
		line-height: 1em;
	}
}

@media screen and (max-width: 650px) {
	section#first {
		grid-template-rows: 1fr 1em 1fr;
		grid-template-columns: unset;
	}

	@keyframes slide-left {
		to {
			transform: translate(0, 0);
		}
	}

	@keyframes slide-right {
		to {
			transform: translate(0, 0);
		}
	}

	button#reset-button {
		width: 3em;
		height: 3em;
	}

	button#reset-button:hover {
		border-color: unset;
		filter: unset;
		background-color: unset;
	}

	a#firstpick, a#secondpick {
		grid-column: unset;
		height: 240px;
		width: -webkit-fill-available;
	}

	a#firstpick {
		border-radius: 32px 32px 0em 0em;
	}

	a#secondpick {
		grid-row: 3;
		border-radius: 0em 0em 32px 32px;
	}

	p#firstguess, p#secondguess {
		font-size: 4.5em;
	}
}
